@import url("https://fonts.googleapis.com/css?family=Monoton|Oxygen+Mono|Press+Start+2P");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: url(images/backgroundclouds.png);
  background-attachment: fixed;
  font-family: 'Oxygen Mono', monospace; }
  body .cloud-bg {
    padding: 0 3%;
    background-image: linear-gradient(to right, #ffffff59, #ffffffb8 15% 85%, #ffffff59); }

.link {
  background-color: #ff00a5cc;
  text-align: right;
  padding: 3%; }

header {
  text-align: center; }
  header h4 {
    margin-bottom: 10%; }
  header p:last-child {
    font-size: 0.8em;
    margin-bottom: 6%; }

h1 {
  font-family: 'Monoton', cursive;
  font-size: 3em;
  font-weight: lighter;
  text-transform: uppercase;
  text-shadow: 4px 0px 1px #00ff66;
  padding-top: 6%; }
  h1 span:first-child {
    color: #ff2171; }
  h1 span:nth-child(2) {
    color: #ffa015; }
  h1 span:nth-child(3) {
    color: #e8ff33; }
  h1 span:nth-child(4) {
    color: #10D81D; }
  h1 span:nth-child(5) {
    color: #11b186; }
  h1 span:nth-child(6) {
    color: #094ca9; }
  h1 span:nth-child(7) {
    color: #4703d2; }

h2 {
  font-family: 'Press Start 2P', cursive; }

main > button {
  width: 100%;
  padding: 3%;
  margin: 6% auto 3% auto;
  border: 10px outset #a5c72b;
  border-radius: 7px;
  background-color: #e8ff33;
  color: #ff00a5cc;
  text-shadow: 3px 0 #00ff66; }
  main > button:focus {
    outline: none; }

.button-toggle {
  background-color: #c9ce28;
  border: 10px inset #a5c72b; }

.content-container {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  font-size: 0;
  transition: 0.3s ease-in-out;
  background-color: #1d232f;
  color: #8efdb7;
  box-shadow: inset 5px 5px 9px 3px #0f1311f2;
  border-radius: 7px; }

.content-show {
  max-height: 999em;
  opacity: 1;
  font-size: inherit;
  padding: 6%; }

.carousel-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 8fr 1fr; }

figure {
  grid-column: col 1 / span 3;
  grid-row: row 1; }

icon-left {
  grid-column: col 1;
  grid-row: row 1; }

.slides {
  display: none; }

.slides img {
  width: 100%; }

.indicator {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 1px solid white; }

.fill {
  background-color: white; }

.fish-element {
  display: grid;
  grid-template-rows: 1fr 1.3fr;
  grid-template-columns: 1fr;
  background-image: linear-gradient(to right, #ffffff59, #ffffffb8 15% 85%, #ffffff59); }

.fish-thoughts {
  margin: 3% auto 0 auto;
  width: 120px; }

.fish {
  display: block;
  margin: 3% auto;
  width: 200px;
  transform: rotateY(180deg); }

.fish-bg {
  position: relative;
  overflow: hidden; }

.water-hide {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 1s ease-out; }

.water-show {
  top: 0;
  transition: all 1.5s ease-out; }

.water-light {
  background-image: url(images/water-light.png);
  top: 0;
  position: absolute;
  width: 120%;
  height: 100%;
  background-position: top;
  background-size: cover;
  opacity: 0.4;
  animation: water 1.3s ease-in-out infinite alternate 0s; }

.water-dark {
  position: absolute;
  width: 120%;
  height: 100%;
  background-position: top;
  background-size: cover;
  opacity: 0.4;
  animation: water 1.3s ease-in-out infinite alternate -1.3s;
  background-image: url(images/water-dark.png);
  top: 5px; }

@keyframes water {
  0% {
    left: -15px; }
  100% {
    left: 0; } }

footer {
  background-color: #ff00a5cc;
  text-align: center;
  padding: 6%; }
